[submodule "extern/raylib"]
	path = extern/raylib
	url = https://github.com/raysan5/raylib
    commit = c1ab645c
[submodule "extern/raylib-cpp"]
	path = extern/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp
    commit = 6d9d02c
